-- MySQL dump 10.13  Distrib 8.0.44, for Linux (x86_64)
--
-- Host: localhost    Database: db_foodix
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `categoria`
--

DROP TABLE IF EXISTS `categoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categoria` (
  `codigo` bigint NOT NULL AUTO_INCREMENT,
  `descripcion` text,
  `estado` bit(1) NOT NULL,
  `icono` varchar(100) DEFAULT NULL,
  `nombre` varchar(50) NOT NULL,
  PRIMARY KEY (`codigo`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categoria`
--

LOCK TABLES `categoria` WRITE;
/*!40000 ALTER TABLE `categoria` DISABLE KEYS */;
/*!40000 ALTER TABLE `categoria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categoria_restaurante`
--

DROP TABLE IF EXISTS `categoria_restaurante`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categoria_restaurante` (
  `codigo_categoria` bigint NOT NULL,
  `codigo_restaurante` bigint NOT NULL,
  PRIMARY KEY (`codigo_categoria`,`codigo_restaurante`),
  KEY `FKr9s55ujsgwiwydufi04b4acuu` (`codigo_restaurante`),
  CONSTRAINT `FKjh1ymbdnw2gwwt73sg2vjm57y` FOREIGN KEY (`codigo_categoria`) REFERENCES `categoria` (`codigo`),
  CONSTRAINT `FKr9s55ujsgwiwydufi04b4acuu` FOREIGN KEY (`codigo_restaurante`) REFERENCES `restaurante` (`codigo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categoria_restaurante`
--

LOCK TABLES `categoria_restaurante` WRITE;
/*!40000 ALTER TABLE `categoria_restaurante` DISABLE KEYS */;
/*!40000 ALTER TABLE `categoria_restaurante` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `departamento`
--

DROP TABLE IF EXISTS `departamento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `departamento` (
  `codigo` bigint NOT NULL AUTO_INCREMENT,
  `estado` bit(1) NOT NULL,
  `nombre` varchar(50) NOT NULL,
  PRIMARY KEY (`codigo`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departamento`
--

LOCK TABLES `departamento` WRITE;
/*!40000 ALTER TABLE `departamento` DISABLE KEYS */;
INSERT INTO `departamento` VALUES (11,_binary '','Lambayeque');
/*!40000 ALTER TABLE `departamento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `distrito`
--

DROP TABLE IF EXISTS `distrito`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `distrito` (
  `codigo` bigint NOT NULL AUTO_INCREMENT,
  `codigo_provincia` bigint NOT NULL,
  `estado` bit(1) NOT NULL,
  `nombre` varchar(100) NOT NULL,
  PRIMARY KEY (`codigo`)
) ENGINE=InnoDB AUTO_INCREMENT=39 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `distrito`
--

LOCK TABLES `distrito` WRITE;
/*!40000 ALTER TABLE `distrito` DISABLE KEYS */;
/*!40000 ALTER TABLE `distrito` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documento_repartidor`
--

DROP TABLE IF EXISTS `documento_repartidor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `documento_repartidor` (
  `codigo` bigint NOT NULL AUTO_INCREMENT,
  `codigo_repartidor` bigint NOT NULL,
  `estado` bit(1) NOT NULL,
  `fecha_subida` datetime(6) NOT NULL,
  `fecha_vencimiento` datetime(6) DEFAULT NULL,
  `ruta_archivo` varchar(255) NOT NULL,
  `tipo_documento` enum('AntecedentesPolicial','Licencia','SOAT','TarjetaPropiedad') NOT NULL,
  PRIMARY KEY (`codigo`),
  KEY `FKkbg2rqt2skqweq0j05qknqtbx` (`codigo_repartidor`),
  CONSTRAINT `FKkbg2rqt2skqweq0j05qknqtbx` FOREIGN KEY (`codigo_repartidor`) REFERENCES `repartidor` (`codigo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documento_repartidor`
--

LOCK TABLES `documento_repartidor` WRITE;
/*!40000 ALTER TABLE `documento_repartidor` DISABLE KEYS */;
/*!40000 ALTER TABLE `documento_repartidor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documento_restaurante`
--

DROP TABLE IF EXISTS `documento_restaurante`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `documento_restaurante` (
  `codigo` bigint NOT NULL AUTO_INCREMENT,
  `codigo_restaurante` bigint NOT NULL,
  `estado` bit(1) NOT NULL,
  `fecha_subida` datetime(6) NOT NULL,
  `fecha_vencimiento` date DEFAULT NULL,
  `ruta_archivo` varchar(255) NOT NULL,
  `tipo_documento` enum('CarnetSanidad','LicenciaFuncionamiento','Otros','RUC') NOT NULL,
  PRIMARY KEY (`codigo`),
  KEY `FKh50ugf4l2r7wcrixkbvu1ha8n` (`codigo_restaurante`),
  CONSTRAINT `FKh50ugf4l2r7wcrixkbvu1ha8n` FOREIGN KEY (`codigo_restaurante`) REFERENCES `restaurante` (`codigo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documento_restaurante`
--

LOCK TABLES `documento_restaurante` WRITE;
/*!40000 ALTER TABLE `documento_restaurante` DISABLE KEYS */;
/*!40000 ALTER TABLE `documento_restaurante` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estado_aprobacion`
--

DROP TABLE IF EXISTS `estado_aprobacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `estado_aprobacion` (
  `codigo` bigint NOT NULL AUTO_INCREMENT,
  `descripcion` varchar(100) DEFAULT NULL,
  `estado` bit(1) NOT NULL,
  `nombre` varchar(50) NOT NULL,
  PRIMARY KEY (`codigo`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estado_aprobacion`
--

LOCK TABLES `estado_aprobacion` WRITE;
/*!40000 ALTER TABLE `estado_aprobacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `estado_aprobacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `imagen_restaurante`
--

DROP TABLE IF EXISTS `imagen_restaurante`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `imagen_restaurante` (
  `codigo` bigint NOT NULL AUTO_INCREMENT,
  `codigo_restaurante` bigint NOT NULL,
  `estado` bit(1) NOT NULL,
  `fecha_subida` datetime(6) NOT NULL,
  `orden` int DEFAULT NULL,
  `ruta_imagen` varchar(255) NOT NULL,
  `tipo_imagen` enum('Galeria','Logo','Portada') NOT NULL,
  PRIMARY KEY (`codigo`),
  KEY `FKerryencl6dqeh2rvkn7k28tf7` (`codigo_restaurante`),
  CONSTRAINT `FKerryencl6dqeh2rvkn7k28tf7` FOREIGN KEY (`codigo_restaurante`) REFERENCES `restaurante` (`codigo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `imagen_restaurante`
--

LOCK TABLES `imagen_restaurante` WRITE;
/*!40000 ALTER TABLE `imagen_restaurante` DISABLE KEYS */;
/*!40000 ALTER TABLE `imagen_restaurante` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `provincia`
--

DROP TABLE IF EXISTS `provincia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `provincia` (
  `codigo` bigint NOT NULL AUTO_INCREMENT,
  `codigo_departamento` bigint NOT NULL,
  `estado` bit(1) NOT NULL,
  `nombre` varchar(100) NOT NULL,
  PRIMARY KEY (`codigo`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `provincia`
--

LOCK TABLES `provincia` WRITE;
/*!40000 ALTER TABLE `provincia` DISABLE KEYS */;
INSERT INTO `provincia` VALUES (1,11,_binary '','Chiclayo'),(2,11,_binary '','Lambayeque'),(3,11,_binary '','Ferre├▒afe');
/*!40000 ALTER TABLE `provincia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `repartidor`
--

DROP TABLE IF EXISTS `repartidor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `repartidor` (
  `codigo` bigint NOT NULL AUTO_INCREMENT,
  `codigo_aprobador` bigint DEFAULT NULL,
  `codigo_estado_aprobacion` bigint NOT NULL,
  `codigo_tipo_vehiculo` bigint NOT NULL,
  `codigo_usuario` bigint NOT NULL,
  `disponible` bit(1) NOT NULL,
  `estado` bit(1) NOT NULL,
  `fecha_aprobacion` datetime(6) DEFAULT NULL,
  `fecha_creacion` datetime(6) NOT NULL,
  `motivo_rechazo` text,
  `numero_licencia` varchar(15) NOT NULL,
  PRIMARY KEY (`codigo`),
  UNIQUE KEY `UKkkmdh2oy77utd3jektr1y9ibf` (`numero_licencia`),
  KEY `FKjpcuxnrgek7psma601j3aby0k` (`codigo_estado_aprobacion`),
  KEY `FKpb4ivf19k1ca5eenmll5b5ju9` (`codigo_tipo_vehiculo`),
  KEY `FKhyrxfcjeffef656xqqccby1m3` (`codigo_usuario`),
  CONSTRAINT `FKhyrxfcjeffef656xqqccby1m3` FOREIGN KEY (`codigo_usuario`) REFERENCES `usuario` (`codigo`),
  CONSTRAINT `FKjpcuxnrgek7psma601j3aby0k` FOREIGN KEY (`codigo_estado_aprobacion`) REFERENCES `estado_aprobacion` (`codigo`),
  CONSTRAINT `FKpb4ivf19k1ca5eenmll5b5ju9` FOREIGN KEY (`codigo_tipo_vehiculo`) REFERENCES `tipo_vehiculo` (`codigo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `repartidor`
--

LOCK TABLES `repartidor` WRITE;
/*!40000 ALTER TABLE `repartidor` DISABLE KEYS */;
/*!40000 ALTER TABLE `repartidor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `restaurante`
--

DROP TABLE IF EXISTS `restaurante`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `restaurante` (
  `codigo` bigint NOT NULL AUTO_INCREMENT,
  `codigo_aprobador` bigint DEFAULT NULL,
  `codigo_distrito` bigint NOT NULL,
  `codigo_estado_aprobacion` bigint NOT NULL,
  `codigo_usuario` bigint NOT NULL,
  `correo_electronico` varchar(150) DEFAULT NULL,
  `descripcion` text,
  `direccion` varchar(200) DEFAULT NULL,
  `estado` bit(1) NOT NULL,
  `fecha_aprobacion` datetime(6) DEFAULT NULL,
  `fecha_creacion` datetime(6) NOT NULL,
  `motivo_rechazo` text,
  `nombre` varchar(100) NOT NULL,
  `razon_social` varchar(150) NOT NULL,
  `ruc` varchar(15) NOT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`codigo`),
  UNIQUE KEY `UKdo0m21fnl5yubgihvdsfu0loq` (`ruc`),
  KEY `FKc11x0rvljomamy1gj34blwfc4` (`codigo_distrito`),
  KEY `FKfik6icyogt8l5areb193cp9v0` (`codigo_estado_aprobacion`),
  KEY `FKbedox8d8y87q26n7m93dd8u03` (`codigo_usuario`),
  CONSTRAINT `FKbedox8d8y87q26n7m93dd8u03` FOREIGN KEY (`codigo_usuario`) REFERENCES `usuario` (`codigo`),
  CONSTRAINT `FKc11x0rvljomamy1gj34blwfc4` FOREIGN KEY (`codigo_distrito`) REFERENCES `distrito` (`codigo`),
  CONSTRAINT `FKfik6icyogt8l5areb193cp9v0` FOREIGN KEY (`codigo_estado_aprobacion`) REFERENCES `estado_aprobacion` (`codigo`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `restaurante`
--

LOCK TABLES `restaurante` WRITE;
/*!40000 ALTER TABLE `restaurante` DISABLE KEYS */;
INSERT INTO `restaurante` VALUES (2,1,1,8,3,'danieladaniela@gmail.com','Lo mejor en comida','AV. GARCILASO DE LA VEGA NRO. 1472, LIMA, LIMA, LIMA',_binary '','2025-11-10 18:37:49.840752','2025-11-10 06:16:02.000000',NULL,'SUPERINTENDENCIA NACIONAL DE ADUANAS Y DE ADMINISTRACION TRIBUTARIA - SUNAT','SUPERINTENDENCIA NACIONAL DE ADUANAS Y DE ADMINISTRACION TRIBUTARIA - SUNAT','20131312955','975184139');
/*!40000 ALTER TABLE `restaurante` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipo_vehiculo`
--

DROP TABLE IF EXISTS `tipo_vehiculo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tipo_vehiculo` (
  `codigo` bigint NOT NULL AUTO_INCREMENT,
  `estado` bit(1) NOT NULL,
  `nombre` varchar(20) NOT NULL,
  PRIMARY KEY (`codigo`)
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipo_vehiculo`
--

LOCK TABLES `tipo_vehiculo` WRITE;
/*!40000 ALTER TABLE `tipo_vehiculo` DISABLE KEYS */;
/*!40000 ALTER TABLE `tipo_vehiculo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario` (
  `codigo` bigint NOT NULL AUTO_INCREMENT,
  `apellido_materno` varchar(50) NOT NULL,
  `apellido_paterno` varchar(50) NOT NULL,
  `codigo_distrito` bigint NOT NULL,
  `codigo_rol` bigint NOT NULL,
  `codigo_tipo_documento` bigint NOT NULL,
  `contrasena` varchar(255) NOT NULL,
  `correo_electronico` varchar(50) NOT NULL,
  `direccion` varchar(100) DEFAULT NULL,
  `estado` bit(1) NOT NULL,
  `fecha_creacion` datetime(6) NOT NULL,
  `fecha_modificacion` datetime(6) DEFAULT NULL,
  `fecha_nacimiento` date NOT NULL,
  `nombre` varchar(50) NOT NULL,
  `numero_documento` varchar(15) NOT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`codigo`),
  UNIQUE KEY `UKf7w2jekriedf7k6a4kaclt9t7` (`correo_electronico`),
  UNIQUE KEY `UKcyd6xjxln9p38cm60dkrox5no` (`numero_documento`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario`
--

LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-10 20:03:36
